<!DOCTYPE html>
<html lang="ja">
<head>
  <mata charset="utf-8">
  <title>New memoページ</title>
</head>
<body>
  <h1>メモアプリ</h1>
    <div><input type="text" name="title" value=""></div>
    <div><textarea name="body"></textarea></div>
</body>
</html>

